<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Content Type:</b>
  <%= @document.content_type %>
</p>

<p>
  <b>File Size:</b>
  <%= @document.file_size %>
</p>

<p>
  <b>Attachment:</b>
  <%= link_to 'File', @document.attachment_url %>
</p>


<%= link_to 'Edit', edit_patient_document_path(@patient, @document) %> |
<%= link_to 'Back', patient_documents_path(@patient) %>
