<div class="page-header">
  <h1><%= @patient.last_name %>, <%= @patient.first_name %></h1>
</div>

<% if notice %>
<div class="alert alert-info">
<%= notice %>
</div>
<% end %>

<dl class="dl-horizontal">
  <dt>Date of birth:</dt>
  <dd><%= @patient.date_of_birth %></dd>
  <dt>Gender:</dt>
  <dd><%= @patient.gender %></dd>
</dl>

<h2>Files</h2>

<table class="table table-striped">
  <thead>
  <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Content Type</th>
      <th>File Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @patient.documents.each do |document| %>
  <tr>
    <td><%= document.name %></td>
    <td><%= document.description %></td>
    <td><%= document.content_type %></td>
    <td><%= number_to_human_size(document.file_size) %></td>
    <td><%= link_to 'File', download_patient_document_path(@patient, document), class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_patient_document_path(@patient, document), class: 'btn' %></td>
    <td><%= link_to 'Destroy', patient_document_path(@patient, document), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<h2>Authorized Users</h2>
<div class="hide" id="authorizedUserMessages">
</div>
<ul id="authorized-users">
  <%= render :partial => 'shared/authorized_user', :collection => @patient.authorized_users %>
</ul>

<%= link_to 'Upload a Document', new_patient_document_path(@patient), class: 'btn btn-primary' %>
<%= link_to 'Authorize a User', "#addUser", "class" => 'btn', "data-toggle" => "modal" %>
<%= link_to 'Back', patients_path, class: 'btn' %>

<div class="modal hide" id="addUser">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Add a user</h3>
  </div>
  <div class="modal-body">
    <%= form_for([@patient, AuthorizedUser.new], :remote => true) do |f| -%>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit 'Add', :class => 'btn btn-primary'%>
    <% end -%>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>